*{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width: 100px;
}
.logo{
    background-image: url("img/download-removebg-preview.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}
/** box 2**/
.address-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.address-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.address-icon{
    display: flex;
    align-items: center;
}
/**box3**/
.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 3px;
    justify-content: space-evenly;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255,174,0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid rgb(255,174,0);
}
/**box 4**/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/**box6**/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/**pannel**/
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p {
    display: inline;
    margin: 10px;
}
.panel-ops{
    width: 70%;
    font-size: 0.8rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/**heroseaction**/
.hero-section{
    background-image: url("img/hero.jpg");
    width: 100%;
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-massage{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-massage a{
    columns: #007185;
    text-decoration: none;
}
/**shop section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(210, 226, 103, 0.61);
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
/**footer**/
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
}
ul{
    margin-top: 30px;
}
ul p{
    font-weight: 700;
}
ul a{
    display: block;
    color: #dddddd;
    text-decoration: none;
    font-size: 0.75rem;
    margin-top: 10px;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid rgb(91, 91, 91);
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center
    ;
}
.foot-logo{
    background-image: url("img/logo.png");
    background-size: cover;
    height: 30px;
    width: 100px;
}
.foot-panel4, .foot-panel4 a{
    padding-top: 10px;
    padding-right: 10px;
    background-color: #0f1111;
    color: white;
    height: 40px;
    font-size: 0.7rem;
    text-align: center;
    text-decoration: none;
}
